// MOBILE DISPLAY
$mob-view: "screen and (max-width: 1023px)";

// FONT FAMILY
$montserrat: 'Montserrat', sans-serif;

// COLORS
$gray-blue: #6E7491;
$black-light: rgba(0, 0, 0, 0.7);
$blue-primary: #2196F3;
$green-primary: #0ACF83;
$indigo-blue: #6E3CF4;
$indigo-light: rgba(102, 90, 225, 0.64);
$orange-primary: #F1C335;
$btn-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);

$blue-darkest: #102542;
$green-main: #02D0AA;
$red-primary: #ED254E;
$gray-light: #EDEDF0;
$gray-dark: #A6ACBB;